@import '_vars.scss';
@import '_fonts.scss';

html, body {
  overflow-x: hidden;
}

body{
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #212121;
  background-color: #EBE9EF;
}

section{
  border-radius: 8px;
}

a{
  text-decoration: none;
}

.container{
  padding: 0 16px;
  min-width: 320px;
  margin: 0 auto;
}

.title{
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 20px;
  font-size: 18px;
}


// ==========> Main <==========
.main{
  min-height: 462px;
  margin: 12px 0;
  background: url(../img/main/bg.svg) right bottom / 300px no-repeat, radial-gradient(75.09% 32.59% at 20.67% 77.6%, #FFD362 0%, rgba(255, 216, 10, 0) 100%), #FFA800;
  image-rendering: crisp-edges;
  border-radius: 8px;
  position: relative;
  &__title{
    padding-top: 23px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
  }
  &__subtitle{
    width: 90%;
  }
}
// ==========> Main <==========


// ==========> Start <==========
.start{
  padding: 14px 0;
  background-color: #fff;
  &__accent{
    font-weight: 500;
    color: $red;
    &-2{
      font-weight: 500;
      color: $yellow;
    }
  }
  &__info{
    width: 90%;
    padding-bottom: 12px;
  }
  &__steps{
    padding: 0 16px; 
    background-color: $gray;
    border-radius: 8px;
  }
  &__title{
    margin-top: 0;
    margin-bottom: 24px;
    padding-top: 14px;
  }
  &__step{
    display: flex;
    align-items: end;
    margin-bottom: 16px;
    &:last-child{
      padding-bottom: 20px;
    }
    &-info{
      margin-left: 8px;
    }
  }
}
// ==========> Start <==========


// ==========> Pay <==========
.pay{
  margin-bottom: 24px;
  &__accent{
    font-weight: 500;
    color: $red;
  }
  &__info{
    min-width: 317px;
  }
  &__formula{
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    color: $red;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &-img{
      display: block;
      margin-left: 5px;
    }
  }

  // pay-what
  &-what{
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 8px;
    &__title{
      padding-top: 24px;
    }
    &__option{
      margin-bottom: 15px;
      padding-left: 19px;
      position: relative;
      &::before{
        content: '';
        min-width: 11px;
        height: 11px;
        background-color: $red;
        border-radius: 50%;
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
    &__descr{
      min-width: 297px;
      font-size: 11px;
      line-height: 12px;
      padding-bottom: 24px;
    }
  }
}
// ==========> Pay <==========


// ==========> Start <==========
.why{
  background-color: #fff;
  border-radius: 8px;
  padding-bottom: 24px;
  &__title{
    margin-top: 0;
    padding-top: 24px;
    padding-left: 16px;
  }
  &__slide{
    min-width: 200px;
    margin-right: 10px;
    min-height: 180px !important;
    padding: 16px 20px;
    background-color: $yellow;
    border-radius: 8px;
    margin-bottom: 12px;
  }
  & .slick-list{
    padding:0 50px 0 16px !important;
  }
  &__info{
    margin-bottom: 12px;
    padding-left: 16px;
    min-width: 277px;
    &_bold{
      padding-left: 0;
      font-weight: 500;
      margin: 12px 0;
    }
  }
  &__important{
    background-color: $gray;
    margin: 0 16px;
    padding: 14px 16px;
    border-radius: 8px;
  }
  &__img{
    display: block;
    margin: 0 auto;
  }
  &__descr{
    margin-bottom: 12px;
  }
}
// ==========> Start <==========


// ==========> Friendly <==========
.friendly{
  padding-bottom: 16px;
 &__title, &__answer, &__info{
   padding-left: 16px;
 }
 &__answer{
   font-weight: 500;
   margin: 12px 0;
 }
 &__info{
   width: 90%;
   margin-bottom: 20px;
 }

 &__slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 245px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-left: 16px;
    padding: 0 16px;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
   &-tarif{
     margin-bottom: 16px;
     color: $yellow;
   }
   &-subtitle{
    font-size: 12px;
    color: #BABABA;
   }
   &-title{
    margin-top: 12px;
    font-size: 14px;
   }
   &-count{
     margin-bottom: 23px;
     font-size: 36px;
    &::before{
      content: url(../img/friendly/moreequal.svg);
      display: inline-block;
    }
   }
   &-line{
      width: 100%;
      height: 2px;
      background-color: #BABABA;
      border: none;
      margin-bottom: 16px;
   }
   &-procent{
     margin: 28px 0;
     margin-top: 20px;
     font-weight: 700;
     color: $yellow;
     font-size: 36px;
   }
   &-descr{
     margin-top: 12px;
     text-align: left;
   }
   &-item{
    display: flex;
    margin-bottom: 12px;
    align-items: end;
  }
  &-advantage{
    margin-left: 8px;
    &_ml{
      margin-left: 24px;
    }
  }
 }
}
// ==========> Friendly <==========


// ==========> Invite <==========
.invite{
  background-color: #fff;
  border-radius: 8px;
  padding: 24px 0;
  padding-bottom: 24px;
  & .slick-track{
    display: flex;
    align-items: center;
  }
  &__accent{
    font-weight: 500;
    color: $yellow;
  }
  &__title{
    padding: 0 16px;
  }
  &__info{
    width: 90%;
    padding: 0 16px;
    &-2{
      width: 90%;
    }
  }
  &__subtitle{
    width: 283px;
    margin-bottom: 20px;
    padding: 0 16px;
  }
  &__important{
    background: $gray;
    border-radius: 8px;
    padding: 14px 16px;
    margin: 20px 16px 20px 16px;
    padding: 14px 16px;
  }
  &__img{
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  &__slider{
    background-color: $gray;
    margin-left: 16px;
    border-radius: 8px;
    padding: 22px 0 10px 16px;
    margin-bottom: 10px;
    height: 137px;
    & .slick-slide{
      width: 148px !important;
    }
  }
  &__descr{
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
    width: 190px !important;
  } 
  &__step{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
    margin-right: 37px;
    // width: 170px !important;
    &::after{
      content: '';
      width: 35px;
      height: 1px;
      background-color: #000;
      position: absolute;
      right: -35px;
      top: 44px;
    }
    &_noafter{
      &::after{
        display: none;
      }
    }
    &-img{
      width: 36px;
      margin: 0 auto;
    }
    &-descr{
      display: block;
      margin-top: 12px;
      width: 150px;
      &_link{
        color: $yellow;
        font-weight: 700;
      }
    }
  }
}
// ==========> Invite <==========


// ==========> Get <==========
.get{
  min-height: 562px;
  background: url(../img/footer/bg.svg) right bottom / 300px no-repeat;
  image-rendering: crisp-edges;
  &__title{
    margin-right: 20px;
  }
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
  }
  &__logo{
    margin-top: 10px;
  }
  &__info{
    width: 90%;
    &-par{
      margin-bottom: 24px;
    }
  }
}
// ==========> Get <==========